<li class="works-list__item">
  <a class="works-list__link" href="@@href" data-nav="works-item">
    <span class="works-list__meta">
      <span class="works-list__label">@@label</span>
      <time class="works-list__date" datetime="@@datetime">@@date</time>
    </span>
    <span class="works-list__rule" aria-hidden="true"></span>
    <span class="works-list__title">@@title</span>
    <span class="works-list__icon" aria-hidden="true">
      <svg class="works-list__icon-svg" width="24" height="24" viewBox="0 0 24 24" focusable="false">
        <path fill="currentColor" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
      </svg>
    </span>
  </a>
</li>
