<!doctype html>
<html lang="ja">
  <head>
    @@include('partials/head.html', { "title": "WALL TEXTURE | GALLERY | TAKAHIRO KOBAYASHI" })
  </head>
  <body id="top">
    <!-- WP: single-gallery.php / GALLERY 詳細 WALL TEXTURE -->
    @@include('partials/header.html')

    <main class="gallery-page gallery-page--detail">
      <article class="gallery-detail" aria-labelledby="gallery-detail-heading">
        <div class="gallery-detail__inner">
          <h1 class="gallery-detail__title" id="gallery-detail-heading">WALL TEXTURE</h1>

          <div class="gallery-detail__stack">
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_01.png"
                alt=""
                width="740"
                height="1057"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_02.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_03.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_04.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_05.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_06.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_07.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
            <figure class="gallery-detail__figure">
              <img
                src="./public/assets/img/gallery/wall-texture/detail_08.png"
                alt=""
                width="740"
                height="1057"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>

          <div class="gallery-detail__actions">
            <a class="gallery-detail__back btn btn--ghost" href="./gallery.html" data-nav="gallery-back">
              <svg class="gallery-detail__back-icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
              </svg>
              <span>BACK TO LIST</span>
            </a>
          </div>
        </div>
      </article>
    </main>

    @@include('partials/footer.html')
    <script src="./public/assets/js/script.js?v=12"></script>
  </body>
</html>
